.navbar-div {
    display: flex;
    margin-right: 10px;
}

.nav-bar-img {
    max-width: 100px; 
    margin-right: 16px; 
}

.nav-bar-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 8px;
}

.nav-bar-label {
    font-weight: bold;
    margin-right: 8px;
}
.nav-bar{
    display: flex;
    align-items: center;
    gap: 40px;
    width: 100%;
    background-color: #DEE1E6;
    height : 77px;
    position: relative;
    bottom: 470px;
}