/*
/* Flex container for image and input fields */
.navbar-div {
    display: flex;
    align-items: center;
}

.nav-bar-img {
    max-width: 100px; /* Adjust as needed */
    margin-right: 16px; /* Spacing between image and input fields */
}

.nav-bar-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px; /* Vertical spacing between input fields */
}

.nav-bar-label {
    font-weight: bold;
    margin-right: 8px; /* Spacing between label and input field */
}
.nav-bar{
    position: relative;
    bottom: 200px;
    right: 370px;
}