@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

/* Style table header cells */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

/* Style table data cells */
td {
    padding: 13px;
    border-bottom: 1px solid #ddd;
}

/* Add alternating row background color */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.custom-slider {
  width: 300px; /* Adjust the width as needed */
}