.side-bar-admin{
    margin-top: 40px;
}

.review-admin{
  margin-right: 195px;
  font-weight: bold;
}

.inp-admin{
  position: relative;
  top: 4px;
}

.star-admin{
  position: relative;
  top: 6px;
}
.text-admin{
    font-weight: bold;
    margin-right: 8px;
    font-size: large;
}